.name{
    color: brown;
}
.type{
    margin-right: 180px;
    color: brown;
    font-family: "Papyrus", "Copperplate", Fantasye;
    font-weight: bolder;
}
.quality{
    margin-right: 300px;
    color: brown;
    font-family: "Papyrus", "Copperplate", Fantasye;
    font-weight: bold;
}
.quality1{
    margin-right: 300px;
    color: brown;
    font-family: "Papyrus", "Copperplate", Fantasye;
    font-weight: bold;
}